body {
    padding-bottom: 150px;
    /* espaço para o footer */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    line-height: 60px;
}

.yoga_home img {
    border-radius: 50%
}

.tabelao {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.texto {
    margin-left: 30px;
    margin-right: 150px;
}

.essential_footer{
    text-align: center;
}

.navbar-collapse{
    margin-left: 25%;
}

.sociais_svg{
    position: absolute;
    right: 16px;
}