body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 20px;
}

footer {
    padding: 25px;
}

.yoga_home img {
    border-radius: 50%;
    box-shadow: -20px 30px 40px #2b312d36;
}

.tabelao {
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.texto {
    margin-left: 30px;
    margin-right: 150px;
}

.essential_footer {
    text-align: center;
}

.navbar-collapse {
    margin-left: 15vw;
}

.dhalsim-yoga {
    text-align: center;
}

.carosel {
    position: flex;
    padding: 30vh;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
}

.sociais_svg {
    position: absolute;
    right: 16px;
}

.yogoide img {
    border-radius: 30%;
    box-shadow: 0 30px 40px #1d6b3b72;
}

.tabeloide {
    padding: 50px;
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.textoide {
    margin-left: 30px;
    margin-right: 150px;
}

.beneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.clinica-motivo {
    text-align: center;
}

.txt_over_img {
    position: relative;
    text-align: center;
}

.txt_mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.entre-contato {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.entre-contato-2 {
    background-color: #b7e1ba;
}

.locali {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.rua-bobos {
    padding-left: 12vh;
    text-align: left;
}

.nossa-quipe {
    text-align: center;
}

.head-quipe {
    text-align: left;
    padding-left: 12vh;
    padding-top: 2%;
    padding-bottom: 2%;
}

.tabela-quipe {
    margin-left: 40vh;
    border-spacing: 20px;
    border-collapse: separate;
}

.tabeloso {
    padding-top: 2%;
    margin-left: 20vh;
    display: flex;
    align-items: center;
}

.tabeloso2 {
    padding-top: 2%;
    margin-left: 30vh;
    display: flex;
    align-items: center;
}

.visao-valores {
    padding-top: 2%;
    align-items: center;
}

.o-que-fazemos {
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.divider-centro {
    width: 60%;
    height: 0.5px;
    background-color: #72727227;
    margin: 0 auto;
    margin-top: 50px;
}

.divider-centro-2 {
    width: 60%;
    height: 0.5px;
    background-color: #72727227;
    margin: 0 auto;
}

.textoexto{
    padding-top: 10px;
    padding-left: 30px;
}

.tabelosoco{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 3px;
}

.left-tab{
    text-align: left;
    padding-right: 30px;
}

.forms-agendamento{
    justify-content: center;
    text-align: center;
}

#mensagem{
    display: none;
    color: rgb(7, 114, 51);
}